<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Alert Management Suite" parallel="tests" thread-count="1">
    <test name="JavaScript Alerts Test">
        <classes>
<!--            <class name="com.selenium.tests.Interface.JavaScriptAlertsTest"/>-->
<!--            <class name="com.selenium.tests.Elements.CompareElementTextTest"/>-->
<!--            <class name="com.selenium.tests.Elements.GetAllElementsTest"/>-->
<!--            <class name="com.selenium.tests.Elements.CheckBoxesTest"/>-->
            <class name="com.selenium.tests.Projects.LaunchRediffTest"/>






        </classes>
    </test>
</suite> 